<!-- app/views/static_pages/contact.html.erb -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/home">The Gossip Project</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/team">l'équipe <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contact">nous contacter</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/gossips/new">écrire un gossip</a>
      </li>
  </div>
</nav>
<h1>Comment contacter l'équipe</h1>
<p>Vous pouvez nous contacter par email à contact@notreentreprise.com</p>