<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/home">The Gossip Project</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/team">l'équipe <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contact">nous contacter</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/gossips/new">écrire un gossip</a>
      </li>
  </div>
</nav>
<h1><%= @city.name %></h1>

<h2>Potins de cette ville :</h2>
<ul>
  <% @gossips.each do |gossip| %>
    <li>
      <strong><%= link_to gossip.title, gossip_path(gossip) %>:</strong>
      <%= gossip.content %>
      par <%= link_to gossip.user.first_name, user_path(gossip.user) %>
    </li>
  <% end %>
</ul>